.layout_container{
  width: 100%;
  height: 100%;
  display: block;
  //display: flex;
}
.second_layout{
  width: 100%;
  height: 100%;
}

.layout-row{
    display: flex;
}

// .children{
//     background-color: red;
//     width: 100%;

// }